# Node
node_modules/
.pnpm-store/

# Build
apps/web/dist/
apps/api/dist/
apps/**/tsconfig*.tsbuildinfo
apps/web/vite.config.js
apps/web/vite.config.d.ts

# Env
.env
.env.local
apps/**/.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
apps/api/prisma/dev.db

# Editor
.idea/
.vscode/
.DS_Store
